    *, *::before, *::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    :root{
        --Violet: hsl(257, 40%, 49%);
        --Soft-Magenta: hsl(300, 69%, 71%);
    }

    html{
        font-size: 62.5%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    body{
        background-image: url('images/bg-mobile.svg');
        background-color: var(--Violet);
        background-repeat: no-repeat;
        background-position: center -10%;
        background-size: contain;

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;

        width: 77.5%;
        margin: 0 auto;
    }

    h1, h2, h3{
        font-family: 'Poppins', sans-serif;
    }

    .illustration{
        width: 100%;
        margin: 0 auto;
    }

    .pic{
        width: 100%;
    }

    .header{
        width: 100%;
        padding: 2.5em 0 3.5em 0;
    }

    .logo{
        width: 40%;
    }

    .hero{
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .content > *{
        padding-bottom: .5em;
    }

    .illustration{
        padding-bottom: 2.5em;
    }

    .content{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: rgb(255, 255, 255, .9);
    }

    .hero-head{
        font-size: 2.2rem;
    }

    .hero-para{
        line-height: 1.5;
        font-size: 1.45rem;
        color: rgb(255, 255, 255, .8);
        width: 99%;
        margin: 0 auto;
    }

    .btn-register{
        display: inline-block;
        border: none;
        background-color: white;
        padding: .75em 4em;
        border-radius: 5em;
        color: var(--Violet);
        font-size: 1.5rem;
        margin: 0 auto;
        transition: background 300ms ease;

        box-shadow: 3px 4px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .btn-register:hover{
        background-color: var(--Soft-Magenta);
        cursor: pointer;
        color: white;
    }

    .socials{
        display: flex;
        justify-content: space-evenly;
        padding: 1.5em 0;
    }

    svg{
        fill: #fff;
        transition: fill 300ms ease;
        width: 25px; 
        height: 25px;
    }

    svg:hover{
        fill: var(--Soft-Magenta);
        cursor: pointer;
    }

    @media (min-width:900px) {

        body{
            background-image: url('images/bg-desktop.svg');
        }

        .logo{
            width: 20%;
        }

        .hero{
            flex-direction: row;
            text-align: left;
        }

        .illustration{
            width: 50%;
        }
        
        .content{
            padding-left: 5.5em;
            padding-bottom: 10em;
        }

        .hero-head{
            font-size: 4.2rem;
        }

        .hero-para{
            font-size: 1.75rem;
        }

        .btn-register{
            margin: 0 auto 0 0 
        }

        .socials{
            justify-content: flex-start;
            gap: 4em;
        }
    }

    
